/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .h1 a {
	background-image:url(images/h1.png);
}
.markItUp .h2 a {
	background-image:url(images/h2.png);
}

.markItUp .italic a {
	background-image:url(images/italic.png);
}
.markItUp .strike a {
	background-image:url(images/stroke.png);
}

.markItUp .tablegenerator a {
    background-image:url(images/table.png);
}
.markItUp .comment a {
    background-image:url(images/comment.png);
}

